.EmptyState {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}

.EmptyState a {
	text-decoration: none;
	background-color: var(--color-yellow);
	color: var(--color-blue);
	font-family: inherit;
	font-weight: 700;
	font-size: 1.6rem;
	padding: 1rem 3rem;
	border-radius: 3px;
}
