.ImageOverlayDiv {
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	margin: 0 1rem;
	display: flex;
}

.Overlay {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 55%, rgba(0, 0, 0, 0.3) 75%, transparent);
}

.Image {
	object-fit: cover;
	height: 100%;
	align-self: center;
	margin: 1rem 1.5rem;
}

.Text {
	position: absolute;
	left: 10%;
	bottom: 10%;
	z-index: 7;
	color: #fff;
	font-weight: 400;
	opacity: 0.9;
}
