.Button {
	background-color: var(--color-yellow);
	outline: none;
	border: none;
	padding: 8px 1rem;
	text-transform: capitalize;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 3px;
	cursor: pointer;
	font-family: inherit;
}

.OutlineButton {
	outline: none;
	border: none;
	background: transparent;
	color: var(--color-blue);
	border: 2px solid var(--color-blue);
	border-radius: 4px;
	font-family: inherit;
	font-weight: 600;
	display: flex;
	align-items: center;
	padding: 4px 6px;
	cursor: pointer;
}

.CollapsableButton {
	outline: none;
	border: none;
	background: transparent;
	border-radius: 30px;
	font-family: inherit;
	display: flex;
	align-items: center;
	padding: 4px 9px;
	width: 30px;
	height: min-content;
	overflow: hidden;
	transition: all ease-in-out 0.6s;
	cursor: pointer;
}

.CollapsableButton:hover {
	width: 30%;
	border-radius: 10px;
}
