*::after,
*::before,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-blue: #2766cc;
	--color-yellow: #f8de4b;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
